.checkout-container{
    display: flex;
    padding: 20px;
    background-color: #E8EBF3;
    height: max-content;
}

.checkout-img{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.checkout-title{
    font-size: 1.2rem;
    font-weight: 750;
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid #315296;
}

.checkout-right{
    margin-left: auto;
}


@media only screen and (max-width: 700px) {
    .checkout-img{
        display: none;
    }

    .checkout-container{
        font-size: 1rem;
        font-weight: 750;
        margin-top: 50px;
        margin-left: 10px;
        padding: 10px;
    }

    .checkout-title{
        font-size: 1rem;
        font-weight: 750;
        margin-left: 10px;
        padding: 10px;
        border-bottom: 1px solid #315296;
    }

}